0.0. IMPORTS

In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import plotly.express as px

import inflection

0.1. VARIAVEIS AUXILIARES

In [78]:
csv_file_path = r"C:\Users\lucca\OneDrive\Documentos\Curso ds\Python_zero_ao_ds\data\raw\zomato.csv"

COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}


COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}

0.2. FUNÇÕES AUXILIARES

In [3]:
def rename_columns(dataframe):
    df = dataframe.copy()

    title = lambda x: inflection.titleize(x)

    snakecase = lambda x: inflection.underscore(x)

    spaces = lambda x: x.replace(" ", "")

    cols_old = list(df.columns)

    cols_old = list(map(title, cols_old))

    cols_old = list(map(spaces, cols_old))

    cols_new = list(map(snakecase, cols_old))

    df.columns = cols_new

    return df

In [4]:
def country_name(country_id):
    return COUNTRIES[country_id]

In [5]:
def color_name(color_code):
    return COLORS[color_code]

In [6]:
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [7]:
def adjust_columns_order(dataframe):
    df = dataframe.copy()

    new_cols_order = [
        "restaurant_id",
        "restaurant_name",
        "country",
        "city",
        "address",
        "locality",
        "locality_verbose",
        "longitude",
        "latitude",
        "cuisines",
        "price_type",
        "average_cost_for_two",
        "currency",
        "has_table_booking",
        "has_online_delivery",
        "is_delivering_now",
        "aggregate_rating",
        "rating_color",
        "color_name",
        "rating_text",
        "votes",
    ]

    return df.loc[:, new_cols_order]

In [79]:
def process_data(file_path):
    df = pd.read_csv(file_path)

    df = df.dropna()

    df = rename_columns(df)

    df["price_type"] = df.loc[:, "price_range"].apply(lambda x: create_price_tye(x))

    df["country"] = df.loc[:, "country_code"].apply(lambda x: country_name(x))

    df["color_name"] = df.loc[:, "rating_color"].apply(lambda x: color_name(x))

    df["cuisines"] = df.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

    df = df.drop_duplicates()

    df = adjust_columns_order(df)
    
    save_path = r"C:\Users\lucca\OneDrive\Documentos\Curso ds\Python_zero_ao_ds\data\processed\data.csv"

    df.to_csv(save_path, index=False)

    return df

0.3. CARREGAR ARQUIVO

In [9]:
df = pd.read_csv(csv_file_path)
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

1.0. DESCRIÇÃO DOS DADOS

In [10]:
df1 = df.copy()
df1.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

1.1. Dicionario de dados

1.2. Reorganizando Colunas

In [11]:
df1 = rename_columns(df1)
df1.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

1.3. Dimensão dos dados

In [12]:
df1.shape

(7527, 21)

1.4. Tipo dos dados

In [13]:
df1.dtypes

restaurant_id             int64
restaurant_name          object
country_code              int64
city                     object
address                  object
locality                 object
locality_verbose         object
longitude               float64
latitude                float64
cuisines                 object
average_cost_for_two      int64
currency                 object
has_table_booking         int64
has_online_delivery       int64
is_delivering_now         int64
switch_to_order_menu      int64
price_range               int64
aggregate_rating        float64
rating_color             object
rating_text              object
votes                     int64
dtype: object

1.5. Verificando NA

In [14]:
df1.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                15
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
switch_to_order_menu     0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

In [15]:
df1.loc[:,"cuisines"].unique().tolist()

['Italian',
 'European, Asian',
 'Filipino, American, Italian, Bakery',
 'American',
 'Filipino',
 'Korean, Grill',
 'American, Filipino, Coffee',
 'Pizza, Italian',
 'Taiwanese',
 'Japanese, Latin American',
 'Japanese',
 'Italian, Pizza',
 'American, Filipino',
 'Japanese, Sushi',
 'Coffee, American, European',
 'Japanese, Ramen',
 'American, Italian, Bakery, Coffee',
 'Chinese',
 'Japanese, Korean',
 'Coffee',
 'European, Desserts',
 'European, Steak, Bakery, Desserts',
 'Filipino, Chinese',
 'Seafood, Filipino, Asian, European',
 'European, Asian, Indian',
 'Korean',
 'Filipino, Mexican',
 'American, Burger',
 'Singaporean, Street Food',
 'Vietnamese',
 'Latin American, Street Food',
 'Filipino, Asian',
 'Korean, Korean BBQ',
 'Filipino, Coffee',
 'European, Italian',
 'American, Asian',
 'European, American',
 'European, Filipino, American',
 'American, European',
 'Coffee, Japanese',
 'Japanese, Asian',
 'Seafood, American, Mediterranean, Japanese',
 'European, Filipino',
 'Healthy Food',
 'Cafe, Desserts',
 'Fast Food, French',
 'Brazilian',
 'Argentine, Contemporary',
 'Arabian',
 'Cafe',
 'Bakery',
 'Tex-Mex, Mexican',
 'Bar Food',
 'Seafood, Brazilian',
 'International',
 'Pizza',
 'Bar Food, Brazilian',
 'French',
 'Arabian, Brazilian, Pizza',
 'Steak',
 'German',
 'Cafe, Brazilian',
 'Brazilian, Grill',
 'Sushi, Japanese',
 'Brazilian, North Eastern',
 'Japanese, Bar Food',
 'Grill, Brazilian',
 'Peruvian',
 'Peruvian, Latin American',
 'American, Grill',
 'Seafood',
 'Brazilian, Seafood',
 'North Eastern, Bar Food',
 'Ice Cream',
 'Steak, Burger',
 'Grill, American',
 'American, International',
 'Brazilian, Gourmet Fast Food, Healthy Food, Street Food',
 'Italian, Fast Food',
 'Burger, Fast Food',
 'Mexican, Grill',
 'Vegetarian, Healthy Food',
 'Seafood, Bar Food, Brazilian',
 'Steak, Brazilian',
 'Brazilian, Steak',
 'Contemporary',
 'Japanese, Thai, Asian',
 'Japanese, Contemporary',
 'Desserts, Cafe',
 'Brazilian, Bar Food',
 'Juices, Healthy Food',
 'Steak, Grill, Brazilian',
 'Beverages, Bar Food, Fast Food',
 'Seafood, International, Grill',
 'Brazilian, Cafe',
 'Arabian, Lebanese',
 'Cafe, Bakery, Brazilian',
 'Burger',
 'Brazilian, Healthy Food, Juices, Pizza',
 'Spanish',
 'French, Author',
 'Brazilian, Contemporary',
 'Cafe, Bakery',
 'Mexican',
 'Brazilian, Grill, Seafood',
 'Juices, Healthy Food, Burger',
 'French, Steak',
 'Thai',
 'Italian, Contemporary',
 'Healthy Food, Juices',
 'Brazilian, Cafe, Healthy Food',
 'American, Fast Food',
 'Brazilian, North Eastern, Seafood',
 'Steak, BBQ',
 'Indian',
 'Mineira, Brazilian',
 'Beverages, International',
 'French, Brazilian, Beverages',
 'American, Mediterranean, Contemporary, Burger',
 'BBQ, Steak',
 'French, Contemporary, Steak',
 'Vegetarian, Contemporary, Healthy Food',
 'French, Italian, Brazilian',
 'Mongolian, Grill',
 'Portuguese',
 'Spanish, Tapas',
 'BBQ, Grill, Brazilian',
 'Contemporary, Brazilian',
 'Burger, Sandwich',
 'BBQ',
 'Greek',
 'Asian, Japanese, Thai, Korean, Brazilian, Chinese',
 'Brazilian, Fast Food',
 'Sushi',
 'French, Italian',
 'Author, Fusion, Brazilian',
 'Gourmet Fast Food, Burger',
 'Brazilian, Beverages',
 'Brazilian, Italian',
 'Brazilian, Mineira',
 'Beverages',
 'Brazilian, Bar Food, Beverages',
 'Lebanese, Arabian',
 'Korean, Dumplings',
 'Modern Australian',
 'Desserts',
 'American, Burger, Sandwich',
 'African, BBQ',
 'Asian, Thai',
 'Coffee and Tea, Cafe Food',
 'Asian, Vietnamese',
 'Vegetarian, Coffee and Tea, Cafe Food',
 'Australian, Desserts',
 'Asian, Indian, Singaporean',
 'Desserts, Coffee and Tea, Cafe Food',
 'Desserts, Ice Cream, French',
 'Middle Eastern, Afghan',
 'Italian, Pizza, Seafood',
 'Burger, Coffee and Tea, Cafe Food',
 'German, Modern Australian',
 'Modern Australian, Australian',
 'BBQ, Japanese, Tapas',
 'Argentine, Steak',
 'French, Tapas',
 'Latin American, Mexican',
 'Malaysian, Thai, Vietnamese',
 'Italian, Pizza, Bar Food',
 'American, Bar Food',
 'Asian, Middle Eastern, Modern Australian',
 'Bakery, Patisserie',
 'Healthy Food, Vegetarian, Coffee and Tea, Cafe Food',
 'Burger, Modern Australian',
 'American, Burger, Ice Cream',
 'Coffee and Tea, Desserts',
 'Seafood, Southern, Cajun',
 'American, Pub Food',
 'Steak, Seafood',
 'Steak, Brazilian, Southern',
 'Japanese, Seafood, Sushi',
 'American, Diner',
 'American, Steak',
 'Filipino, International, Southern',
 'American, Mexican, Southwestern',
 'BBQ, Southern',
 'American, Bar Food, Pub Food',
 'BBQ, Southwestern',
 'Seafood, Southern',
 'Mexican, Southwestern',
 'American, Sandwich',
 'Tapas',
 'International, New American',
 'Italian, Seafood, Steak',
 'American, Vegetarian, Southern',
 'Seafood, Bar Food, Southern',
 'American, Southern',
 'New American',
 'Pub Food',
 'Burger, Bar Food',
 'American, Breakfast',
 'American, Mediterranean, Diner',
 'Southern',
 'American, Southern, BBQ',
 'Bakery, Bagels, Donuts',
 'Coffee and Tea, Bar Food',
 'European, Bar Food',
 'Fast Food, Burger, Salad',
 'Bakery, Fast Food',
 'Spanish, Cuban, Caribbean',
 'American, Seafood',
 'Burger, Desserts',
 'Mexican, Southwestern, Tex-Mex',
 'Coffee and Tea, Sandwich, Southern',
 'American, Desserts, Burger',
 'Diner, Tex-Mex',
 'Seafood, Steak',
 'Desserts, American',
 'Tex-Mex, Southwestern, Mexican',
 'American, Tex-Mex',
 'Donuts, Bakery, American',
 'American, Cafe',
 'Cafe, American, Bar Food',
 'Tex-Mex, Mexican, Taco',
 'Southern, American',
 'Tex-Mex, Diner, Mexican',
 'Mexican, Seafood',
 'Bar Food, American',
 'Burger, American',
 'Bakery, Cafe, Coffee and Tea',
 'BBQ, American',
 'New American, Southern',
 'Southwestern',
 'Desserts, Bakery, American',
 'Burger, Southern, American',
 'Spanish, Tex-Mex, Cafe',
 'Seafood, Cajun',
 'Sandwich',
 'American, Mexican, Tex-Mex',
 'French, Cafe',
 'Mexican, Taco',
 'Mexican, Tex-Mex',
 'Pizza, Sandwich',
 'Burger, Southwestern',
 'Steak, New American',
 'Mexican, American',
 'Steak, American',
 'American, Burger, Seafood',
 'American, Desserts',
 'American, Desserts, International',
 'New American, Seafood',
 'Cafe, American',
 'Asian, Japanese, Sushi',
 'European, French',
 'Chinese, Dim Sum',
 'Asian, Malaysian',
 'BBQ, Italian, Pizza',
 'Irish, Bar Food',
 'American, Burger, Desserts',
 'Mexican, Southern, Cajun',
 'Mediterranean, Middle Eastern, Turkish',
 'Sandwich, Vegetarian',
 'Desserts, Bakery',
 'European, Seafood',
 'Italian, Seafood',
 'Bakery, Cafe',
 'Asian, Ramen',
 'Vietnamese, Cafe Food, Salad',
 'Contemporary, French',
 'Cafe Food, Bar Food',
 'Cafe Food, Coffee and Tea',
 'Bakery, Coffee and Tea',
 'Japanese, Cafe Food',
 'Italian, Salad',
 'Korean BBQ',
 'Steak, Modern Australian',
 'Cafe Food, Modern Australian',
 'German, Pub Food',
 'Healthy Food, Asian',
 'Middle Eastern, Turkish',
 'Middle Eastern',
 'Japanese, Dumplings',
 'American, BBQ, Salad',
 'Cafe Food, French',
 'Cafe Food',
 'Cafe Food, Modern Australian, Coffee and Tea',
 'Middle Eastern, Cafe Food, Salad',
 'Seafood, Modern Australian',
 'Asian, Japanese, Tapas',
 'Italian, Korean, Fusion',
 'Desserts, Modern Australian',
 'Cafe Food, Burger, Tapas',
 'Modern Australian, Cafe Food',
 'Fusion, Coffee and Tea, Desserts, Cafe Food',
 'Greek, Mediterranean, Salad',
 'Mediterranean, Greek, Salad',
 'Vietnamese, Chinese, Malaysian, Salad',
 'Chinese, Vietnamese, Salad',
 'Cafe Food, Modern European',
 'Vegetarian, Desserts',
 'Canadian',
 'Korean, Tapas, Fusion',
 'Desserts, Italian, Pizza',
 'Seafood, Tapas, Fusion',
 'Fast Food',
 'Asian, Indian',
 'Mediterranean, Middle Eastern',
 'Desserts, French',
 'Mexican, Fusion',
 'German, Bar Food',
 'Italian, Deli',
 'BBQ, Korean',
 'Breakfast, Sandwich',
 'Breakfast, Burger',
 'Asian, Beverages, Bubble Tea',
 'Japanese, Sushi, Tapas, Ramen',
 'Japanese, Sushi, Ramen',
 'Asian, Chinese, Cafe',
 'Desserts, Ice Cream',
 'Breakfast, Italian, Fusion',
 'Japanese, Sushi, Tapas',
 'Brazilian, Latin American',
 'Breakfast, Coffee and Tea',
 'Burger, Pizza',
 'Mediterranean, Deli, Kebab',
 'Chinese, Malaysian',
 'Steak, Fusion',
 'Diner',
 'Sushi, Ramen',
 'European, French, Tapas',
 'Japanese, Steak, Teriyaki',
 'American, Sandwich, Burger',
 'Asian, Sushi',
 'Bakery, Desserts',
 'American, Southern, Bar Food',
 'Pizza, Eastern European',
 'Cajun, Southern',
 'Southern, Diner',
 'Southern, Soul Food, BBQ',
 'Tapas, Pub Food, American',
 'Thai, Asian',
 'American, Seafood, Steak',
 'Bakery, Cafe, Desserts',
 'Mexican, Southwestern, Caribbean',
 'French, American, Pub Food',
 'German, International',
 'Tapas, Sushi, Bar Food',
 'Greek, Italian',
 'American, Fast Food, Southern',
 'French, Bakery',
 'BBQ, Burger',
 'Burger, Sushi, Fusion',
 'Seafood, Southern, New American',
 'Diner, Desserts, American',
 'Greek, Mediterranean',
 'Italian, Pizza, Sandwich',
 'Pizza, Italian, Sandwich',
 'American, German',
 'American, Southwestern, BBQ',
 'Mediterranean, Tapas',
 'American, Pizza, Burger, Sandwich',
 'American, Italian, Burger, Sandwich',
 'Seafood, Sushi',
 'Peruvian, Japanese, Fusion',
 'Italian, Steak, American',
 'Pizza, American',
 'Japanese, Steak, Sushi',
 'Asian',
 'New Mexican',
 'Belgian, American',
 'Seafood, New American',
 'Mediterranean',
 'Cuban, Mexican, Latin American',
 'New American, Bakery',
 'Pizza, Bar Food',
 'American, French',
 'Tex-Mex',
 'Taco, Tex-Mex',
 'American, BBQ',
 'Diner, Vegetarian',
 'Fast Food, Seafood',
 'American, Italian, Pizza',
 'Steak, Seafood, Sushi',
 'American, Bakery',
 'New American, Sushi, Seafood, Steak',
 'Latin American, Cafe',
 'Thai, Vietnamese',
 'Italian, Sandwich',
 'Taco, New American',
 'Cafe, Sandwich',
 'Indian, Mediterranean',
 'New American, Pub Food',
 'Asian, Fusion, New American, Sushi',
 'Asian, Chinese',
 'American, Coffee and Tea',
 'Asian, Fusion',
 'Greek, American',
 'American, Burger, Mexican',
 'Burger, American, Steak',
 'American, Burger, Bar Food',
 'New American, Desserts',
 'Cafe, Cajun',
 'American, Tapas',
 'American, Asian, European',
 'Middle Eastern, Mediterranean',
 'Breakfast',
 'Cuban, Sandwich, Southwestern',
 'American, International, Bar Food',
 'Mediterranean, Middle Eastern, Vegetarian',
 'American, Vegetarian',
 'American, BBQ, Southern',
 'Breakfast, Coffee and Tea, Mediterranean',
 'Vegetarian',
 'American, Breakfast, Southern',
 'American, Burger, Fast Food',
 'American, BBQ, Southwestern',
 'Japanese, Korean, Sushi',
 'Burger, Sandwich, Bar Food',
 'Desserts, Mediterranean',
 'Caribbean, Cuban',
 'Seafood, Steak, Cajun',
 'Breakfast, Burger, Sandwich',
 'American, BBQ, Cajun',
 'Breakfast, Diner, Sandwich',
 'Polish, Cafe',
 'Burger, Diner',
 'Burger, Vegetarian, California',
 'Middle Eastern, Vegetarian',
 'Breakfast, Vegetarian',
 'European, Polish',
 'Japanese, Sushi, Thai',
 'Burger, Vegetarian',
 'American, BBQ, Sandwich',
 'American, Burger, Steak',
 'International, Seafood, Steak',
 'Deli',
 'American, Breakfast, Vegetarian',
 'Greek, Seafood, Cajun',
 'Seafood, Healthy Food',
 'Burger, Seafood',
 'Steak, Cajun',
 'Seafood, American',
 'Mediterranean, Greek',
 'Fusion, International',
 'British, Bar Food',
 'Italian, Sandwich, Seafood',
 'Tapas, Spanish',
 'Taco',
 'Southern, French',
 'American, Indian',
 'Asian, Latin American, Sushi',
 'Cajun, Seafood',
 'Desserts, Diner',
 'African',
 'European, Mediterranean',
 nan,
 'Asian, Burger',
 'Breakfast, French',
 'Breakfast, Diner, Bar Food',
 'California',
 'Italian, Steak',
 'European',
 'Mexican, Tapas',
 'Asian, International',
 'Southern, Steak',
 'European, Steak',
 'French, Seafood',
 'Pizza, California',
 'Breakfast, International',
 'Asian, Thai, Vegetarian',
 'Bakery, American, Desserts',
 'American, California',
 'American, Breakfast, Diner',
 'American, European, Steak',
 'French, Italian, Spanish',
 'Breakfast, Coffee and Tea, Tapas',
 'American, Deli',
 'Asian, California',
 'Breakfast, Sandwich, Deli',
 'Italian, California',
 'Breakfast, Diner',
 'Brazilian, Latin American, Pizza',
 'American, Breakfast, Coffee and Tea',
 'Italian, Vegetarian',
 'Cuban',
 'Coffee and Tea, Tea',
 'Bar Food, Steak',
 'Seafood, Latin American, Mexican',
 'Latin American, Burger, Sandwich, Vegetarian, New American',
 'American, International, Vegetarian, New American',
 'Mediterranean, Greek, Vegetarian',
 'Fast Food, Burger',
 'Seafood, Bar Food, Sandwich',
 'American, Pizza, Sandwich',
 'American, New American',
 'Seafood, Burger, Southern, Cajun, Creole',
 'American, Seafood, Burger',
 'Sandwich, Seafood, Floribbean',
 'Mexican, Latin American, Floribbean',
 'BBQ, Sandwich, Southern',
 'Latin American, Cuban',
 'Seafood, Thai, Steak',
 'American, Asian, Burger',
 'Fast Food, Sandwich, Salad',
 'American, Latin American, Floribbean',
 'Coffee and Tea, Breakfast, Sandwich',
 'Cafe, French, Crepes',
 'Japanese, Seafood, Brazilian, Peruvian, Sushi',
 'Japanese, Seafood, Spanish, Sushi, Tapas, Vegetarian, South American, New American',
 'Breakfast, Desserts, Crepes',
 'Asian, BBQ, Japanese',
 'Japanese, Bar Food, Tapas',
 'French, Canadian',
 'Seafood, Portuguese',
 'Indian, Vegetarian',
 'Desserts, Steak, Deli',
 'French, British',
 'Fast Food, British, Fish and Chips',
 'French, Spanish',
 'American, French, Italian',
 'Greek, Mediterranean, Seafood',
 'Healthy Food, Beverages, Vegetarian',
 'Others',
 'Diner, Canadian',
 'BBQ, Portuguese',
 'Eastern European, Deli',
 'Coffee and Tea, Fast Food',
 'Southern, Tex-Mex',
 'Bar Food, Canadian',
 'International, Seafood',
 'Breakfast, Bar Food',
 'Asian, Malaysian, Thai',
 "Sandwich, Po'Boys",
 'Breakfast, Seafood, Southern',
 'Southern, Cajun',
 'Seafood, French',
 'American, French, International',
 "Seafood, Cajun, Po'Boys",
 'Coffee and Tea, Cafe',
 'Breakfast, French, Cajun',
 'French, Southern, Cajun',
 'BBQ, Seafood, Cajun',
 'Creole, Cajun',
 'Bar Food, Southern',
 'American, Seafood, Cajun',
 'French, Seafood, Southern',
 "Breakfast, Southern, Po'Boys",
 'American, Italian, Southern',
 'American, Southern, Cajun',
 'Burger, Bar Food, Steak',
 'American, Breakfast, Cajun',
 "Vegetarian, Cajun, Po'Boys",
 'Caribbean, Sandwich',
 'American, French, Southern',
 'Breakfast, Cajun',
 "Southern, Cajun, Po'Boys",
 'French, Italian, Southern',
 'French, Vegetarian',
 'Sandwich, Southern',
 'BBQ, Southern, Cajun',
 'Chinese, Fusion, Asian',
 'American, Italian',
 'Latin American, Venezuelan',
 'Ramen',
 'Ukrainian',
 'Cuban, Mexican',
 'BBQ, American, Southern',
 'New American, French',
 'Bakery, Desserts, Sandwich',
 'European, Belgian',
 'American, Burger, Sushi',
 'Donuts',
 'Seafood, Bagels',
 'American, Italian, Sandwich',
 'American, Bakery, Desserts',
 'Middle Eastern, Moroccan',
 'French, Seafood, Bakery',
 'Steak, American, German, Burger',
 'French, European',
 'American, Juices, Beverages',
 'Mediterranean, Desserts, Bar Food',
 'Italian, Southern',
 'Mexican, Vegetarian',
 'Burger, Canadian',
 'BBQ, Burger, Southern',
 'Italian, Canadian',
 'Canadian, Southern',
 'Italian, Bar Food',
 'Sandwich, Bakery',
 'Canadian, Fusion',
 'Pizza, Canadian',
 'Ice Cream, Desserts, Cafe',
 'Canadian, European, Asian',
 'Bakery, Sandwich',
 'Canadian, Tapas',
 'Canadian, American',
 'French, Seafood, Canadian',
 'Seafood, Canadian',
 'Canadian, Diner',
 'Canadian, International',
 'Hawaiian, Japanese',
 'Sandwich, Coffee and Tea, Cafe Food',
 'Malaysian',
 'Australian',
 'Mexican, Coffee and Tea, Cafe Food',
 'Coffee and Tea, Sandwich, Cafe Food',
 'Middle Eastern, Cafe Food',
 'Italian, Mediterranean',
 'Mediterranean, Bakery',
 'Bar Food, Modern Australian',
 'Healthy Food, Pizza, Cafe Food',
 'Coffee and Tea, Modern Australian, Cafe Food',
 'Patisserie, Cafe Food',
 'Asian, Bar Food',
 'Mediterranean, Middle Eastern, Tapas',
 'Yum Cha, Chinese',
 'Malaysian, Asian',
 'Mexican, Bar Food',
 'Desserts, Coffee and Tea',
 'Korean, BBQ',
 'European, Modern Australian',
 'Greek, Tapas, Mediterranean',
 'Modern Australian, European',
 'Beverages, Cafe Food',
 'Desserts, Cafe Food',
 'Modern Australian, Cafe Food, Coffee and Tea',
 'Chinese, Asian',
 'Diner, American',
 'New American, Bar Food',
 'Ice Cream, Desserts',
 'Cuban, Latin American',
 'Belgian, European, Bar Food',
 'Sandwich, Fast Food',
 'Sandwich, American',
 'Belgian, Bar Food',
 'French, American',
 'European, International, Asian',
 'British',
 'American, Mediterranean',
 'Cafe, Pizza',
 'Bar Food, Seafood',
 'Mediterranean, Italian',
 'Cuban, Latin American, Spanish',
 'Fast Food, Sandwich',
 'Desserts, Juices, Healthy Food',
 'American, Steak, Bar Food',
 'American, Breakfast, Sandwich',
 'Breakfast, Mexican',
 'Southwestern, Bar Food',
 'American, Sushi',
 'Cafe, Sandwich, Sushi',
 'Healthy Food, Vegetarian',
 'American, Southwestern',
 'Caribbean, Chinese, Mexican',
 'Bar Food, Sandwich',
 'Mediterranean, Sandwich, Vegetarian',
 'Pizza, Italian, Healthy Food',
 'Caribbean, Seafood',
 'Japanese, Italian, Sushi',
 'Hawaiian, Asian, New American, American',
 'Coffee and Tea, Sandwich',
 'Italian, Pizza, Healthy Food',
 'New American, Healthy Food',
 'European, New American',
 'Healthy Food, Diner, Sandwich',
 'French, Bakery, Desserts',
 'American, Coffee and Tea, Southern',
 'BBQ, Breakfast, Southern',
 'Taco, Mexican',
 'Latin American, Spanish, Tapas',
 'Cajun, Soul Food',
 'Greek, Mediterranean, Middle Eastern',
 'European, Italian, Pizza',
 'American, Pacific Northwest',
 'Asian, Chinese, Japanese',
 'Breakfast, Vegetarian, Donuts',
 'Pacific Northwest',
 'Seafood, Pacific Northwest',
 'Asian, Seafood, Steak',
 'Pacific Northwest, Steak',
 'BBQ, Burger, Bar Food',
 'Lebanese, Middle Eastern, Vegetarian',
 'American, Breakfast, Desserts',
 'American, Breakfast, Pacific Northwest',
 'Latin American, Tapas, Peruvian',
 'Mexican, Latin American',
 'Latin American, Mexican, Tapas',
 'Caribbean, Hawaiian',
 'Italian, Mediterranean, Seafood',
 'Seafood, Steak, American',
 'Steak, Seafood, American',
 'Tea, Cafe',
 'Sushi, Asian, American',
 'Bakery, American',
 'Moroccan',
 'Chinese, Sushi',
 'Southwestern, Steak',
 'German, Sandwich, Deli',
 'American, Mediterranean, International',
 'French, Belgian',
 'American, Latin American, California',
 'Asian, Chinese, Vegetarian',
 'Vegetarian, California',
 'Middle Eastern, American',
 'Breakfast, European, French',
 'California, Seafood',
 'American, Breakfast, California',
 'California, New American',
 'International, Healthy Food',
 'American, Mexican',
 'Bar Food, Seafood, California',
 'Diner, California',
 'Cafe, Mexican',
 'American, Vegetarian, Healthy Food',
 'Mexican, Seafood, Vegetarian',
 'Seafood, Chinese',
 'Italian, French, California',
 'Hawaiian, Fusion',
 'Vietnamese, Fusion',
 'Seafood, Italian',
 'Burger, Pizza, American',
 'American, Seafood, Bakery',
 'Ice Cream, Coffee and Tea',
 'Cuban, Tapas, Caribbean',
 'Burmese',
 'Seafood, International',
 'Spanish, American, Tapas',
 'Dim Sum, Chinese',
 'Crepes, Cafe',
 'California, Fusion',
 'Pacific Northwest, Seafood, Tapas',
 'Caribbean, Latin American, Cajun',
 'Pacific Northwest, Seafood',
 'Cafe, French',
 'Pub Food, American',
 'Burger, Diner, American',
 'Sushi, Japanese, Latin American',
 'Sandwich, Deli, Italian',
 'International, Desserts',
 'Fish and Chips, Pacific Northwest, Seafood',
 'Pacific Northwest, American',
 'Donuts, Coffee and Tea',
 'Vietnamese, Chinese, Asian',
 'Caribbean, Sandwich, Cuban',
 'Korean, Fusion',
 'Greek, Mediterranean, Pacific Northwest',
 'Vegetarian, Breakfast',
 'Cafe, French, Bakery',
 'Russian, Bakery',
 'Sandwich, Cafe',
 'Fish and Chips, Seafood, Pacific Northwest',
 'Cajun, French',
 'Burger, Sandwich, Beverages',
 'Vegetarian, Mediterranean, Indian',
 'Pacific Northwest, New American',
 'Bakery, French, Desserts',
 'Bakery, Ice Cream, Desserts',
 'Singaporean, Chinese, Asian',
 'Continental, Spanish',
 'South Indian, Singaporean, Middle Eastern, Indian',
 'American, Asian, Continental, Fusion',
 'Chinese, Continental, Singaporean',
 'French, Continental',
 'North Indian, Indian, South Indian, American',
 'Asian, French, Fusion',

1.6. Tratando NA

In [16]:
df1=df1.dropna()
df1 = df1[df1['cuisines'] != 'nan']
df1 = df1[df1['restaurant_name'] != ' ']
df1 = df1.drop_duplicates(subset='restaurant_id')
df1.isna().sum()

restaurant_id           0
restaurant_name         0
country_code            0
city                    0
address                 0
locality                0
locality_verbose        0
longitude               0
latitude                0
cuisines                0
average_cost_for_two    0
currency                0
has_table_booking       0
has_online_delivery     0
is_delivering_now       0
switch_to_order_menu    0
price_range             0
aggregate_rating        0
rating_color            0
rating_text             0
votes                   0
dtype: int64

1.7. Tratando tipos

    Não necessita tratamento

1.8. Estatistica dos dados

In [17]:
df1.describe()

,restaurant_id,country_code,longitude,latitude,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,votes
count,6.929000e+03,6929.000000,6929.000000,6929.000000,6.929000e+03,6929.000000,6929.000000,6929.000000,6929.0,6929.000000,6929.000000,6929.000000
mean,1.074958e+07,95.839659,31.450097,19.415699,7.520077e+03,0.060615,0.350411,0.174917,0.0,2.633280,4.131116,605.359071
std,7.038381e+06,99.291487,79.034287,23.517259,3.025348e+05,0.238640,0.477133,0.379924,0.0,0.965721,0.662287,1116.539143
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
25%,3.600066e+06,1.000000,-43.224875,12.897099,6.000000e+01,0.000000,0.000000,0.000000,0.0,2.000000,4.000000,151.000000
50%,7.900139e+06,30.000000,73.757794,25.266663,2.500000e+02,0.000000,0.000000,0.000000,0.0,3.000000,4.200000,328.000000
75%,1.714686e+07,215.000000,79.832321,32.749369,6.000000e+02,0.000000,1.000000,0.000000,0.0,3.000000,4.500000,650.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,0.0,4.000000,4.900000,41333.000000

2.0. Respondendo as dúvidas

In [80]:
df2=process_data(csv_file_path)
df2.head(1)

,restaurant_id,restaurant_name,country,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,aggregate_rating,rating_color,color_name,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,Philippines,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1100,Botswana Pula(P),1,0,0,4.6,3F7E00,darkgreen,Excellent,619

GERAL

1. Quantos restaurantes únicos estão registrados?

In [19]:
df2.loc[:,"restaurant_id"].nunique()

6929

2. Quantos paises únicos estão registrados?

In [20]:
df2.loc[:,"country"].nunique()

15

3. Quantas cidades únicas estão registradas?

In [21]:
df1.loc[:,"city"].nunique()

125

4. Qual o total de avaliações feitas?

In [22]:
print(df1.loc[:,'votes'].sum())

4194533

5. Qual o total de tipos de culinária registrados?

In [23]:
df2.loc[:,"cuisines"].nunique()

165

Pais

1. Qual o nome do país que possui mais cidades registradas?

In [24]:
(df2.loc[:,['city','country']].groupby('country').nunique().sort_values('city',ascending=False).reset_index()).iloc[0,0]

'India'

2. Qual o nome do país que possui mais restaurantes registrados?

In [25]:
(df2.loc[:,['restaurant_id','country']].groupby('country').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

3. Qual o nome do país que possui mais restaurantes com os nível de preço igual a 4 registrados?

In [26]:
(df2.loc[df2['aggregate_rating'] >= 4, ['restaurant_id', 'country'] ]
                                         .groupby('country')
                                         .count()
                                         .sort_values('restaurant_id', ascending=False)
                                         .reset_index()).iloc[0, 0]

'India'

4. Qual o nome da país que possui a maior quantidade de tipos de culinária distintos?

In [27]:
(df2.loc[:,['cuisines','country']].groupby('country').nunique().sort_values('cuisines',ascending=False).reset_index()).iloc[0,0]

'India'

5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

In [28]:
(df2.loc[df2['is_delivering_now'] == 1,['restaurant_id','country']].groupby('country').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

In [29]:
(df2.loc[df2['is_delivering_now'] == 1, ['restaurant_id', 'country'] ]
                                         .groupby('country')
                                         .count()
                                         .sort_values('restaurant_id', ascending=False)
                                         .reset_index()).iloc[0, 0]

'India'

7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

In [30]:
(df2.loc[df2['has_table_booking'] == 1,['restaurant_id','country']].groupby('country').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'India'

8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

In [31]:
(df2.loc[:, ['votes', 'country'] ]
                                .groupby('country')
                                .mean()
                                .sort_values('votes', ascending=False)
                                .reset_index()).iloc[0, 0]

'Indonesia'

9. Qual o nome do país que possui, na média, a maior nota média registrada?

In [32]:
(df2.loc[:, ['aggregate_rating', 'country'] ]
                                .groupby('country')
                                .mean()
                                .sort_values('aggregate_rating', ascending=False)
                                .reset_index()).iloc[0, 0]

'Indonesia'

10. Qual o nome do país que possui, na média, a menor nota média registrada?

In [33]:
(df2.loc[:, ['aggregate_rating', 'country'] ]
                                .groupby('country')
                                .mean()
                                .sort_values('aggregate_rating', ascending=True)
                                .reset_index()).iloc[0, 0]

'Brazil'

11. Qual a média de preço de um prato para dois por país?

In [34]:
(df2.loc[:, ['average_cost_for_two', 'country'] ]
                                         .groupby('country')
                                         .mean()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index()).iloc[0, 0]

'Indonesia'

Cidades

1. Qual o nome da cidade que possui mais restaurantes registrados?

In [35]:
(df2.loc[:,['restaurant_id','city']].groupby('city').nunique().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Abu Dhabi'

2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

In [36]:
(df2.loc[df2['aggregate_rating'] >= 4,['restaurant_id','city']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'London'

3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

In [37]:
(df2.loc[df2['aggregate_rating'] <=2.5,['restaurant_id','city']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Gangtok'

4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

In [38]:
(df2.loc[:, ['average_cost_for_two', 'city'] ]
                                         .groupby('city')
                                         .mean()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index()).iloc[0, 0]

'Adelaide'

5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

In [41]:
(df2.loc[:, ['cuisines', 'city'] ]       .groupby('city')
                                         .nunique()
                                         .sort_values('cuisines', ascending=False)
                                         .reset_index()).iloc[0, 0]

'Birmingham'

6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?

In [42]:
(df2.loc[df2['has_table_booking'] == 1,['restaurant_id','city']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Bangalore'

7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?

In [45]:
(df2.loc[df2['is_delivering_now'] == 1,['restaurant_id','city']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Amritsar'

8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [46]:
(df2.loc[df2['has_online_delivery'] == 1,['restaurant_id','city']].groupby('city').count().sort_values('restaurant_id',ascending=False).reset_index()).iloc[0,0]

'Bhopal'

Restaurantes

1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

In [49]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'aggregate_rating', 'votes'
]

df2.loc[:, cols].sort_values(['votes', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Bawarchi'

2. Qual o nome do restaurante com a maior nota média?

In [50]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'aggregate_rating', 'votes'
]

df2.loc[:, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Indian Grill Room'

3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?

In [52]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]


df2.loc[:, cols].sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

"d'Arry's Verandah Restaurant"

4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

In [56]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Brazilian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Loca Como tu Madre'

5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

In [57]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['country'] == 'Brazil') & (df2['cuisines'] == 'Brazilian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Braseiro da Gávea'

6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

In [58]:
(df2.loc[:, ['votes', 'has_online_delivery'] ]
                                         .groupby('has_online_delivery')
                                         .mean()
                                         .sort_values('votes', ascending=False)
                                         .reset_index())

   has_online_delivery       votes
0                    1  838.821664
1                    0  479.421018

7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

In [59]:
(df2.loc[:, ['average_cost_for_two', 'has_table_booking'] ]
                                         .groupby('has_table_booking')
                                         .mean()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index())

   has_table_booking  average_cost_for_two
0                  1          69998.423810
1                  0           3488.596866

8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [60]:
lines = (df2['country'] == 'United States of America') & ((df2['cuisines'] == 'BBQ') | (df2['cuisines'] == 'Japanese'))

(df2.loc[lines, ['average_cost_for_two', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .mean()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index())

   cuisines  average_cost_for_two
0  Japanese             56.406250
1       BBQ             39.642857

Tipo de Colunária

1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?

In [61]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Italian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Darshan'

2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?

In [62]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Italian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Avenida Paulista'

3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?

In [65]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'American')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Burger & Lobster'

4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

In [66]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'American')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Alston Bar & Beef'

5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

In [67]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Arabian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Mandi@36'

6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?

In [68]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Arabian')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Raful'

7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?

In [70]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Japanese')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Sushi Samba'

8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?

In [71]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Japanese')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'Banzai Sushi'

9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?

In [72]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Home-made')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

'Kanaat Lokantası'

10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?

In [73]:
cols = [
    'restaurant_id', 'restaurant_name', 'country', 
    'city', 'cuisines', 'average_cost_for_two', 
    'aggregate_rating', 'votes'
]

lines = (df2['cuisines'] == 'Home-made')

df2.loc[lines, cols].sort_values(['aggregate_rating', 'restaurant_id'], ascending=[True, True]).iloc[0, 1]

'GurMekan Restaurant'

11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

In [75]:
(df2.loc[:, ['average_cost_for_two', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .max()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index()).head(1)

            cuisines  average_cost_for_two
0  Modern Australian              25000017

12. Qual o tipo de culinária que possui a maior nota média?

In [76]:
(df2.loc[:, ['aggregate_rating', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .max()
                                         .sort_values('aggregate_rating', ascending=False)
                                         .reset_index()).head(1)

   cuisines  aggregate_rating
0  American               4.9

13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [77]:
lines = (df2['has_online_delivery'] == 1) & (df2['is_delivering_now'] == 1)

(df2.loc[:, ['restaurant_id', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .count()
                                         .sort_values('restaurant_id', ascending=False)
                                         .reset_index()).head(1)

       cuisines  restaurant_id
0  North Indian            878